:root {
    --bg-color: #F5ECE4;
    --primary-color: #734425;
    --secondary-color: #C26819;
    --black-color: #2E2E2E;
    --heading-font: "Outfit", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--black-color);
    font-family: var(--heading-font);
    font-size: 18;
    line-height: 1.5;
}

.btn{
    color: #fff;
    padding: 8px 20px;
    font-weight: 500;
}

.radius{border-radius: 10px;}

a{
    text-decoration: none;
    display: inline-block ;
}
img{
    width: 100%;
}

.w-full{
    width: calc(100vw - 10rem);
    max-width: 1440px;
    margin: auto;
}

header{
    padding: 1rem 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .log0{
    max-width: 132px;
}

header .btn{
    background-color: var(--secondary-color);
}